// === Mixins ===

// === Fonts ===

@mixin Montserrat-400 {
  font-family: Montserrat-400, sans-serif;
  font-style: normal;
}

@mixin Montserrat-500 {
  font-family: Montserrat-500, sans-serif;
  font-style: normal;
}

@mixin Montserrat-600 {
  font-family: Montserrat-600, sans-serif;
  font-style: normal;
}

@mixin Montserrat-700 {
  font-family: Montserrat-700, sans-serif;
  font-style: normal;
}

// === /Fonts ===

// === / Mixins ===