/* === Include your styles here === */

@import "../../../../helpers/mixin/mixin";

/* === / Include your styles here === */

/* === Styles === */

.authorization__wrap {
  position: fixed;
  inset: 0;
  background: #101117;
  color: #FFFFFF;
  @include Montserrat-600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.app__table {
  max-width: none !important;
  padding: 0px !important;

  .main {
    gap: 30px;
    overflow: unset;
    padding: 8px 20px 8px 20px;
  }
}

.app__table-wrap {
  max-width: 1310px !important;

  .main {

    .table__top-wrap {

      .table__top-box {
        width: 100%;
        position: relative;
      }
    }

    .table {
      width: 100%;
      min-width: auto;
    }

    .pagination__wrap {
      .pagination__box {
        width: 100%;
        position: relative;
      }
    }
  }
}

.table__top-wrap {
  position: relative;

  .table__top-box {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;

    .table__top-select {
      padding: 0px 0px 0px 30px;

      .stub {
        background: #101117e6;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        transition: all .4s ease;
        visibility: hidden;
      }

      .active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        z-index: 2000;
      }

      .select {

        &__control {
          width: 280px !important;
          background: #000000 !important;
          z-index: 3000 !important;
        }

        &__menu {
          width: 280px !important;
          height: auto !important;
          max-height: 195px !important;
          background: #000000 !important;
          z-index: 3000 !important;
        }

        &__menu-list {
          height: auto !important;
          max-height: 195px !important;
          padding: 0px 8px 0px 0px !important;
        }
      }
    }

    .table__top {
      display: flex;
      gap: 8px;
      height: 48px;

      .input__search {
        padding: 0px 0px 0px 10px;
        width: 203px;
        @include Montserrat-500;
        color: #ffffff;
        border-radius: 10px;
        background: #000000;
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
      }

      .input__search-op {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.table {
  width: fit-content;
  min-height: 500px;
  min-width: 1236px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include Montserrat-500;
  color: #ffffff;

  .table__header-wrap {
    padding: 0px 10px;

    .table__header {
      display: flex;
      gap: 10px;
      padding-bottom: 4px;

      .table__headers {
        min-width: 150px;
      }
    }
  }

  .table__body-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .table__body {
      padding: 0px 10px;
      cursor: pointer;
      background: #000000;
      height: 60px;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      transition: all .3s ease;

      .table__body-cell {
        min-width: 150px;
        height: 60px;
        font-size: 15px;
        align-content: center;
        text-align: center;
      }

      &:hover {
        background: rgba(0, 0, 0, .5);
      }
    }
  }
}

.truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__btn {
  background: #000;
  margin-top: 25px;
  border: 2px solid #fdb401;
  border-radius: 100px;
  color: #fff;
  font-family: Montserrat-600, sans-serif;
  font-size: 20px;
  font-style: normal;
  padding: 15px 14px;
}

.select {
  &__control {
    border-radius: 10px !important;
    width: 500px !important;
    height: 48px !important;
    background: #101117 !important;
    border: none !important;
    box-shadow: none !important;
    transition: all 0.4s ease !important;

    &-is-focused {
      box-shadow: none !important;
    }

    &--menu-is-open {
      box-shadow: none !important;
      border-radius: 10px 10px 0px 0px !important;

      .select__indicator {
        transform: rotate(180deg);
      }
    }
  }

  &__value-container {
    padding: 0px 0px 0px 15px !important;
  }

  &__single-value {
    @include Montserrat-500;
    color: #ffffff !important;
  }

  &__placeholder {
    @include Montserrat-500;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicator {
    cursor: pointer;
  }

  &__indicator:hover {
    color: #ffffff !important;
  }

  &__indicator {
    transition: all 0.4s ease !important;
  }

  &__menu {
    background: #101117 !important;
    margin: 0px !important;
    width: 500px !important;
    height: 100px !important;
    box-shadow: none !important;
    border-radius: 0px 0px 10px 10px !important;
  }

  &__menu-list {
    padding: 0px !important;
    height: 100px !important;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #23272c;
      border-radius: 5px;
    }
  }

  &__option {
    @include Montserrat-500;
    color: #ffffff !important;
    padding: 0px 0px 0px 15px !important;
    height: 48px !important;
    display: flex !important;
    align-items: center !important;
    background: transparent !important;
    transition: all 0.4s ease !important;

    &:last-child {
      border-radius: 0px 0px 10px 10px !important;
    }
  }

  &__option:hover {
    background: #23272c !important;
  }

  &__option-is-focused:hover {
  }
}

.profile__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 60px 0px 0px 0px;

  .profile__title {
    padding: 0px 20px;
    font-size: 35px;
  }

  .profile__form-wrap {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .profile__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      width: 100%;
      position: relative;

      .profile__form-title {
        @include Montserrat-500;
        font-size: 16px;
        color: #ffffff;
      }

      .profile__form-input {
        width: 265px;
        min-height: 49px;
        text-align: center;
        background: #000000;
        border-radius: 8px;
        @include Montserrat-500;
        font-size: 15px;
        color: #FFFFFF;
        padding: 5px 20px;
      }

      .profile__password-toggle {
        width: 49px;
        height: 49px;
        position: absolute;
        right: -59px;
        bottom: 0px;
        background: #000000;
        border-radius: 8px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;

        img {
          width: 29px;
          height: 29px;
        }

        &:hover {
          background: rgba(0, 0, 0, .3);
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }

    .profile__btn {
      background: #000;
      margin: 20px 0px 0px 0px;
      border: 2px solid #fdb401;
      border-radius: 100px;
      color: #fff;
      font-family: Montserrat-600, sans-serif;
      font-size: 20px;
      font-style: normal;
      width: fit-content;
      padding: 12px 64px;
    }
  }
}

.modal__btn-new {
  position: absolute;
  top: 15px;
  left: 20px;
  height: 20px;
  background: #ffffff !important;
}

.table__modal-title {
  @include Montserrat-500;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 25px;
  text-align: center;
}

.table__modal-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .table__modal-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;

    .table__modal-cell-title {
      @include Montserrat-500;
      font-size: 16px;
      color: #ffffff;
    }

    .table__modal-cell {
      width: 500px;
      min-height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include Montserrat-500;
      font-size: 15px;
      background: #101117;
      border-radius: 8px;
      color: #ffffff;
      padding: 5px 20px;
      text-align: center;
    }
  }

  .massage__error {
    max-width: none;
    font-size: 24px;
    padding: 17px 0px 0px 0px;
  }
}

.table__btn-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination__wrap {
  width: 100%;
  position: relative;
  padding: 0px 0px 15px 0px;

  .pagination__box {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    left: 0;

    .pagination__btn-op {
      width: 40px;
      height: 40px;
      @include Montserrat-500;
      font-size: 20px;
      background: transparent;
      color: #ffffff;
      transition: all 0.4s ease;
      border-radius: 4px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:not(.active) {
        &:hover {
          background: #000;
          color: #fee100;
          opacity: .4;
        }
      }
    }

    .active {
      background: #000;
      color: #fee100;
    }

    .break {
      width: 40px;
      height: 40px;
      @include Montserrat-500;
      font-size: 20px;
      background: transparent;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0px 0px 4px 0px;
    }

    .pagination__btn {
      height: 27px;
      width: 12px;
      background: transparent;

      img {
        width: 100%;
        height: 100%;
      }

      &:last-child {
        transform: rotate(180deg);
      }
    }

    .disabled {
      opacity: 0.3;
    }
  }
}

.table__top-btn {
  width: 48px;
  height: 48px;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease;
  }

  &:hover {
    img {
      filter: invert(66%) sepia(64%) saturate(517%) hue-rotate(352deg) brightness(105%) contrast(94%);
    }
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .table {
    padding: 0px 20px;
  }
}

@media (max-width: 800px) {
  .app__table {
    .mob-header__btn {
      right: 27px;
      top: 16px;
      z-index: 4100;
    }

    .mob-header__wrap.open {
      z-index: 4000;
    }

    .main {
      padding: 8px 20px;
      overflow: auto;
    }
  }

  .table__top-wrap {
    .table__top-box {
      width: 100%;
      position: relative;
      gap: 10px;
      flex-direction: column;

      .table__top-select {
        padding: 0px;
        min-height: 48px;
      }

      .table__top {
        justify-content: space-between;

        .input__search-op {
          opacity: 1 !important;
          visibility: visible !important;
          padding: 0px 48px 0px 10px;
        }

        .table__top-btn-1 {
          position: absolute;
          left: 169px;
        }
      }
    }
  }

  .table {
    width: 100%;
    flex-direction: row;
    min-width: auto;

    .table__header-wrap {
      .table__header {
        flex-direction: column;
        gap: 10px;

        .table__headers {
          height: 60px;
          display: flex;
          align-items: center;
        }
      }
    }

    .table__body-wrap {
      flex-grow: 1;

      .table__body {
        flex-direction: column;
        height: fit-content;
        background: transparent;

        .table__body-cell-wrap {
          background: #000000;
          border-radius: 10px;
          display: flex;
          justify-content: center;
        }

        .table__body-cell {
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }

  .pagination__wrap {
    .pagination__box {
      width: 100%;
    }
  }

  .pagination__mob-wrap {
    width: 100%;
    padding: 0px 0px 15px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;

    .pagination__mob-btn {
      @include Montserrat-500;
      color: #FFFFFF;
      font-size: 16px;
      padding: 8px 6px;
      background: #000000;
      border-radius: 10px;
    }
  }

  .select {
    &__control {
      width: 250px !important;
    }

    &__menu {
      width: 250px !important;
    }
  }

  .profile__wrap {
    .profile__form-wrap {
      .profile__form {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 420px) {
  .profile__wrap {
    .profile__form-wrap {
      .profile__form {
        .profile__password-toggle {
          transform: translate(-50%, -50%);
          inset: 140% auto auto 50%;

          &:active {
            transform: translate(-50%, -50%) scale(0.8);
          }
        }
      }

      .profile__btn {
        margin: 66px 0px 0px 0px;
      }
    }
  }
}

/* === / Styles === */