/* === Include your styles here === */



/* === / Include your styles here === */

/* === Styles === */

.preloader__wrap {
  position: fixed;
  inset: 0;
  opacity: .8;
  background: black;
  z-index: 2000;
}

/* === / Styles === */