/* === Include your styles here === */

@import "sections/home/home";
@import "sections/about/about";

/* === / Include your styles here === */

/* === Styles === */

.main {
  height: 2500px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex-grow: 1;
}

/* === / Styles === */